.category__item {
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Slightly increased for a softer look */
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s; /* Added box-shadow transition */
  height: 12rem; /* Increased height for a larger appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
}

.category__items {
  height: 100%;
  width: 100%;
}

.category__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.category__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Match border radius with category__item */
}

.category__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem; /* You may adjust this for readability */
  z-index: 1;
  text-align: center;
}

.category__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px); /* Reduced blur for a clearer background */
  z-index: -1;
}

.shop-now {
  background-color: #f8e2c1; /* Softer background color */
  color: #c5a861;
  font-weight: bold;
  font-size: medium;
  padding: 0.5rem;
  border-radius: 5px; /* Added border-radius for the button */
  transition: background-color 0.3s; /* Added transition for hover effect */
}

.shop-now:hover {
  background-color: #e0c1a1; /* Darker shade on hover */
}

.category__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

@media only screen and (max-width: 768px) {
  .category__item {
    height: auto; /* Allow auto height on smaller screens */
  }

  .category__text h6 {
    font-size: 1rem; /* Adjust text size for better readability */
  }
}
